<section class=" joinusHeader  sectionPadding position-relative">
    <img src="/assets/images/Arrow_09.png" class="cstm-arrow d-none d-lg-inline">
    <div class="star d-none d-lg-flex" >
        <img src="/assets/images/49.png" >
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="text-center text-lg-start content">
                    <h1>with IN GENERAL <br> We Will Help You...</h1>
                    <p>
                        We will help you step by step from start to finish, by experts to help you reach the top.
                    </p>
                    
                </div>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="text-center imageSection">
                    <img src="/assets/images/outline.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>