<section class=" joinusform  sectionPadding position-relative">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <form class="p-5">
                    <h2>Contact Us</h2>
                    <app-input type="text" label="Name"></app-input>                    
                    <app-input type="text" label="Phone Number"></app-input>  
                    <app-input type="text" label="Email"></app-input>  
                    <div class="d-md-flex flexparent">
                        <div>
                            <app-input type="select" label="Country" [options]="cities"></app-input>  
                        </div>
                        <span class="d-none d-md-block mx-3"></span>
                        <div>
                            <app-input  type="select" label="Country" [options]="cities"></app-input>  
                        </div> 
                    </div>  
                    <app-input type="textarea" label="Discribtion"></app-input> 
                    <button class="mainbtn w-100">
                        Send
                    </button>               
                </form>
            </div>
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="text-center imageSection">
                    <p class="d-flex align-items-center justify-content-center">
                        Contact Us
                        <span class="mx-2"></span>
                        <img src="assets/images/Group1171275655.png" alt="">
                    </p>
                    <h2 class="cstm-bold">Enter your data so you can contact us
                    </h2>
                    <img src="assets/images/outline_II.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>